<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net"
		         type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<log4net>
		<root>
			<level value="INFO" />
		</root>
		<logger name="OptimalControl">
			<level value="ERROR" />
			<appender-ref ref="OptimalControlAppender" />
		</logger>
		<logger name="OptimalControl.Chemical" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="ChemicalAppender" />
		</logger>
		<logger name="OptimalControl.Maths" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="MathsAppender" />
		</logger>
		<logger name="OptimalControl.Maths.DiffEqu" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="DiffEquAppender" />
		</logger>
		<logger name="OptimalControl.Maths.Optimization" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="OptimizationAppender" />
		</logger>
		<appender name="OptimizationAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_optimization.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="DiffEquAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_diffequ.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="MathsAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_maths.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="ChemicalAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_chemical.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="OptimalControlAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_ui.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>